<div class="map-box-contents">
  <h2><%= trip.trip_name %></h2>
  <p><%= trip.destination %>
    <p><%= trip.start_date %>
      <p><%= trip.end_date %>
      </div>
      
      <div class="map-box-contents">
        <img <%= user.profile_photo %>>
        <h5><%= activity.name %> <%= activity.category %></h5>
        <h6><i class="fa-solid fa-location-dot"></i> <%= activity.description %></h6>
      </div>
