<%= turbo_stream_from trip%>
<div id="<%= dom_id(trip)%>">
  <div class="parent">
    <% if trip.activities.pending_eat.empty? %>
      <div id="load-screen">
        <h3><i class="fa-solid fa-plane fa-bounce pen"></i> Generating your dream trip...</h3>
      </div>
    <% else %>
      <div class="recommendations">
        <div class="activities-tabs" data-controller="activities-tabs">
          <div id="eat" class="tab-button">
            <h2>eat</h2>
          </div>
          <div id="do" class="tab-button">
            <h2>do</h2>
          </div>
          <div id="explore" class="tab-button">
            <h2>explore</h2>
          </div>
        </div>
        <div id="eat-rec" class="tab-content <%= "hide" unless params[:category] == "eat" ||  !params[:category].present?%>">
          <%= render "activities/activities_tab_content", activities: trip.activities.pending_eat, trip: trip, icon: "fa-utensils", class: "pen"%>
        </div>
        <div id="do-rec" class="tab-content <%= "hide" unless params[:category] == "do" %>">
          <%= render "activities/activities_tab_content", activities: trip.activities.pending_do, trip: trip, icon: "fa-person-walking", class: "pen"%>
        </div>
        <div id="explore-rec" class="tab-content <%= "hide" unless params[:category] == "explore" %>">
          <%= render "activities/activities_tab_content", activities: trip.activities.pending_explore, trip: trip, icon: "fa-compass", class: "pen"%>
        </div>
      </div>
    <% end %>
    <div class="trip-basket">
      <div class="basket-title">
        <h1><%=trip.trip_name%></h1>
      </div>
      <div class="added-trips">
        <% if trip.activities.selected.length == 0  %>
          <div class="empty-trip">
            <h3>Add to your trip to get a personalised itinerary</h3>
          </div>
        <% else %>
          <% trip.activities.selected.each do |activity| %>
            <div class="added-recommendation">
              <% if activity.category == 'eat' %>
                <h5><i class="fa-solid fa-utensils"></i>&nbsp&nbsp<%=activity.name%></h5>
              <% elsif activity.category == 'do' %>
                <h5><i class="fa-solid fa-person-walking">&nbsp&nbsp</i><%=activity.name%></h5>
              <% else %>
                <h5><i class="fa-solid fa-compass">&nbsp&nbsp</i><%=activity.name%></h5>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="activities-index-map" data-controller="map"
      data-map-markers-value="<%= markers %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%= link_to(trip) do %>
        <div class="checkout">
          <%= "Let's Plan!" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
