<br>
<%= link_to "New Trip", new_trip_path, class: 'button' %>
<br>
<br>
<div class="row">
  <div class = "cards">
    <% @trips.each do |trip| %>
      <div class="card-category" onclick="openTab('b1');">
        <h3><%= trip.trip_name %></h3>
        <%# <i class="fa-duotone fa-calendar" style="--fa-secondary-color: #f3e012;"></i> %>
        <p>Departing: <%= trip.start_date %></p>
        <%= link_to "View Trip", trip_path(trip.id), class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
<!-- The expanding grid (hidden by default) -->
<div id="b1" class="containerTab" style="display:none;background:#073b4cff">
  <!-- If you want the ability to close the container, add a close button -->
  <% @trips.each do |trip| %>
    <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
    <h3><%= trip.trip_name %></h3>
    <p><%= trip.start_date %></p>
  <% end %>
</div>
