<div class="trip-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514896856000-91cb6de818e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80);">
  <div class="container">
    <h1>your upcoming trips</h1>
    <div class="search-bar">
      <%= form_with url: trips_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
    params[:query],
    class: "form-control search-bar",
    placeholder: "Search Your Trips"
  %>
        <%= submit_tag "search", class: "button" %>
      <% end %>
    </div>
  </div>
</div>
<br>
<%= link_to icon('fa-solid', 'chevron-left'),  new_trip_path, class: 'btn' %>
<%= link_to icon('fa-solid', 'heart'),  favourites_path, class: 'btn' %>
<%= link_to icon('fa-solid', 'plus'),  new_trip_path, class: 'btn' %>
<div id="current_date"></p>
<script>
  date = new Date();
  year = date.getFullYear();
  month = date.getMonth() + 1;
  day = date.getDate();
  document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
</script>
</div>
<div class="container bootstrap snippets bootdeys">
  <div class="row">
    <% @trips.each do |trip| %>
      <div class="col-md-4 col-sm-6 content-card">
        <%=link_to (trip) do%>
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
              <div class="content">
                <h6 class="category">Departing: <%= trip.start_date.strftime('%d-%m-%Y') %></h6>
                <h1 class="title"><%= trip.trip_name %></h1>
                <p class="description">Destination:<%= trip.destination%></p>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <% end %>
  </div>
</div>
