<br>
<%= link_to "New Trip", new_trip_path, class: 'button' %>
<br>
<br>
<div class="row">
  <div class = "cards">
    <% @trips.each do |trip| %>
      <div class="card-category" onclick="openTab('b1');">
        <h4><%= trip.trip_name %></h4>
        <p>Departing: <%= trip.start_date %></p>
        <%= link_to "View Trip", trip_path(trip.id), class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
<!-- The expanding grid (hidden by default) -->
<div id="b1" class="containerTab" style="display:none;background:#073b4cff">
  <!-- If you want the ability to close the container, add a close button -->
  <% @trips.each do |trip| %>
    <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
    <h4><%= trip.trip_name %></h4>
    <p><%= trip.start_date %></p>
  <% end %>
</div>
<div class="parent">
  <div class="search-bar">
    <%= form_with url: trips_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control search-bar",
    placeholder: "Search Your Trips"
  %>
      <%= submit_tag "Search", class: "button" %>
    <% end %>
  </div>
  <div class="favourites">
    <% @trips.each do |trip| %>
      <div class="favourite-card">
        <div class="favourite-text">
          <h5><%= trip.trip_name %></h5>
          <h6>Departing: <%= trip.start_date %></h6>
          <h6>Departing: <%= trip.start_date.strftime('%d-%m-%Y') %></h6>
        </div>
        <div class="add-button">
          <%= link_to "View Trip", trip_path(trip.id), class: 'button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
