<div class="parent">
  <div class="trip-form-header">
  <h1>Trip Board</h1>
  <h5>Start your next adventure!</h4>
  </div>
  <div class="trip-form">
  <%= simple_form_for @trip do |f| %>
    <div class="form-inputs">
      <%= f.input :trip_name,
                required: true,
                autofocus: true %>
      <%= f.input :destination,
                required: true,
                autofocus: true %>
      <%= f.input :start_date,
                required: true %>
      <%= f.input :end_date,
                required: true %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Let's Go!", class: 'button' %>
    </div>
  <% end %>
  </div>
</div>
