<div class="parent">
  <div class="trip-form-header">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1538061879026-7703d25d483c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1677&q=80);">
      <div class="container">
          <h1>plan your next adventure</h1>
          <p>create a new trip board</p>
        </div>
      </div>
    </div>
    <div class="trip-form">
      <%= simple_form_for @trip do |f| %>
        <div class="form-inputs">
          <%= f.input :trip_name,
                required: true,
                autofocus: true %>
          <%= f.input :destination,
                input_html: {data: {address_autocomplete_target: "address", class: "d-none"}},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          <%= f.input :longitude, :as => :hidden, :input_html => { :value => "lonTarget" } %>
          <%= f.input :latitude, :as => :hidden, :input_html => { :value => "latTarget" } %>
          <%= f.input :start_date,
                autofocus: true %>
          <%= f.input :end_date,
                required: true %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Let's Go!", class: 'button' %>
        </div>
      <% end %>
    </div>
  </div>
