<div class="trip">
  <div class="parent">
    <div class="trip-header">
      <div class="trip-title">
        <h2><%= @trip.trip_name %></h2>
      </div>
      <div class="trip-countdown" data-controller="countdown">
        <p>
          <span id="days" class="countdown-number"></span>  days
          <span id="hours" class="countdown-number"></span>  hours
          <span id="minutes" class="countdown-number"></span>  minutes
          <span id="seconds" class="countdown-number"></span>  seconds
        </p>
      </div>
    </div>
    <div class="recommendations">
      <h2>Your recommended itinerary:</h2>
      <%= @infos.html_safe %>
      <h2>Our suggested budget:</h2>
      <%= @budget.html_safe %>
      <h2>We recommend packing:</h2>
      <%= @packing.html_safe %>
      <h2>We recommend staying:</h2>
      <%= @accom.html_safe %>
      <h2>Visa Recommendations:</h2>
      <%= @visa.html_safe %>

    </div>
    <div class="trip-show-basket">
      <div class="sticky">
        <h2>Trip Details</h2>
        <p><strong>Travelling to:</strong> <%= @trip.destination %></p>
        <p><strong>Arriving from:</strong> <%= current_user.location %></p>
        <p><strong>Start date:</strong> <span id="start-date"><%= @trip.start_date %></span></p>
        <p><strong>End Date:</strong> <%= @trip.end_date %></p>
        <%= link_to "<i class='fa-solid fa-share'></i>".html_safe, '#', class: 'button' %>
        <%= link_to "<i class='fa-solid fa-download'></i>".html_safe, '#', class: 'button' %>
        <%= link_to "<i class='fa-solid fa-calendar'></i>".html_safe, '#', class: 'button' %>
        <div class="selected-activities">
          <h2>Your want to do:</h2>
          <% @activities.each do |activity|%>
            <div class="added-recommendation">
              <h6><%=activity.name%></h6>
            </div>
          <%end%>

          <%= link_to "<i class='fa-solid fa-plus'></i>".html_safe, trip_activities_path(@trip), class: 'button' %>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
