<div class="parent">
  <div class="trip-header">
    <div class="trip-title">
      <h1><%= @trip.trip_name %></h1>
    </div>
  </div>
  <div class="trip-recommendations" data-controller="recommendation-tabs">
    <div class="activities-tabs" >
      <div id="itinerary" class="trip-tab-button active-tab">
        <h2><i class="fa-solid fa-clipboard-list"></i></h2>
        <p>itinerary</p>
      </div>
      <div id="budget" class="trip-tab-button">
        <h2><i class="fa-solid fa-money-bill-wave"></i></h2>
        <p>Budget</p>
      </div>
      <div id="packing" class="trip-tab-button">
        <h2><i class="fa-solid fa-suitcase-rolling"></i></h2>
        <p>Packing</p>
      </div>
      <div id="visa" class="trip-tab-button">
        <h2><i class="fa-solid fa-passport"></i></h2>
        <p>Visa</p>
      </div>
    </div>
    <div class="contents">
      <div id="itinerary-content" class=''>
        <%= @trip.itinerary.html_safe %>
      </div>
      <div id="budget-content" class='d-none'>
        <%= @trip.budget.html_safe %>
      </div>
      <div id="packing-content" class='d-none'>
        <%= @trip.packing_list.html_safe %>
      </div>
      <div id="visa-content" class='d-none'>
        <%= @trip.visa.html_safe %>
      </div>
    </div>
  </div>
  <div class="trip-show-basket">
    <div class="sticky">
      <div class="trip-details">
        <div class="basket-title">
          <h1>Trip Details</h1>
          <%= link_to "<i class='fa-solid fa-calendar'></i>".html_safe, trip_path(@trip, format: :ics), class: 'pen' %>
        </div>
        <p><strong>Travelling to:</strong> <%= @trip.destination %></p>
        <p><strong>Arriving from:</strong> <%= current_user.location %></p>
        <p><strong>Dates:</strong> <span id="start-date"><%= @trip.start_date.strftime("%e %b")%> - <%= @trip.end_date.strftime("%e %b") %></span></p>
      </div>
      <div class="selected-activities">
        <div class="basket-title">
          <h1>Selected Activities</h1>
          <%= link_to "<i class='fa-solid fa-plus'></i>".html_safe, trip_activities_path(@trip), class: 'pen' %>
        </div>
        <% @activities.each do |activity|%>
          <div class="added-recommendation">
            <% if activity.category == 'eat' %>
              <h5><i class="fa-solid fa-utensils"></i>&nbsp&nbsp<%=activity.name%></h5>
              <div class="favourites-form">
                <% if activity.status == "added" %>
                  <%= simple_form_for [@trip, activity], url: add_activity_to_favourites_path(@trip, activity), method: :post do |f| %>
                    <button type="submit"><i class="fa-solid fa-heart not-fave"></i></button>
                  <% end %>
                <% else %>
                  <i class="fa-solid fa-heart fave"></i>
                <% end %>
              </div>
            <% elsif activity.category == 'do' %>
              <h5><i class="fa-solid fa-person-walking">&nbsp&nbsp</i><%=activity.name%></h5>
              <div class="favourites-form">
                <% if activity.status == "added" %>
                  <%= simple_form_for [@trip, activity], url: add_activity_to_favourites_path(@trip, activity), method: :post do |f| %>
                    <button type="submit"><i class="fa-solid fa-heart not-fave"></i></button>
                  <% end %>
                <% else %>
                  <i class="fa-solid fa-heart fave"></i>
                <% end %>
              </div>
            <% else %>
              <h5><i class="fa-solid fa-compass">&nbsp&nbsp</i><%=activity.name%></h5>
              <div class="favourites-form">
                <% if activity.status == "added" %>
                  <%= simple_form_for [@trip, activity], url: add_activity_to_favourites_path(@trip, activity), method: :post do |f| %>
                    <button type="submit"><i class="fa-solid fa-heart not-fave"></i></button>
                  <% end %>
                <% else %>
                  <i class="fa-solid fa-heart fave"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <div class="notes" data-controller="notes">
    <div class="notes-header">
      <h2>Notes</h2>
      <i id="pen" class='fa-solid fa-pen pen'></i>
    </div>
    <div id="note" class="">
      <%= @trip.note.note.html_safe %>
    </div>
    <div id="note-form" class="notes-form note-hide">
      <%= simple_form_for [@trip, @trip.note] do |f| %>
        <%= f.input :note %>
        <%= f.button :submit, "Save" %>
      <% end %>
    </div>
  </div>
</div>
