<h1>hello this is a trip show page</h1>

<h3>Name:<%= @trip.trip_name %> </h3>
<h3>Destination: <%= @trip.destination %></h3>
<h3>Start: <%= @trip.start_date %></h3>
<h3>End: <%= @trip.end_date %></h3>


<%= link_to "Back", trips_path %>
