<div class="trip">
  <div class="parent">
    <div class="trip-header">
      <div class="trip-title">
        <h2><%= @trip.trip_name %></h2>
      </div>
      <div class="trip-countdown" data-controller="countdown">
        <p>
          <span id="days"></span>  days
          <span id="hours"></span>  hours
          <span id="minutes"></span>  minutes
          <span id="seconds"></span>  seconds
        </p>
        <%= link_to "Back", trips_path, class: 'button' %>
      </div>
    </div>
    <div class="recommendations">
      <% @activities.each do |activity|%>
        <div class="added-recommendation">
          <h2><%=activity.name%></h2>
          <h5><%=activity.description %></h5>
          <% activity.notes.each do |note| %>
            <h6>Comment:</h6> <p><%=note.comment%></p>
            <%= note.created_at %>
          <% end %>
          <%= simple_form_for [activity, @note] do |f| %>
            <%= f.input :comment %>
            <%= f.button :submit, class: 'btn' %>
          <%end%>
        </div>
      <%end%>
    </div>
    <div class="trip-show-basket">
      <div class="sticky">
        <h2>Trip Details</h2>
        <br>
        <p><strong>Destination:</strong> <%= @trip.destination %></p>
        <p><strong>Start date:</strong></p>
        <p id="start-date"><%= @trip.start_date %></p>
        <p><strong>End Date:</strong> <%= @trip.end_date %></p>
        <br>
        <%= link_to "Add more", trip_activities_path(@trip), class: 'button' %>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
