<div class="parent form-background">
  <div class="preference-form">
    <h2>Your preferences:</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div>
          <%= f.input :eat_preference_list, collection: ["Budget-friendly", "Couple-friendly", "Kid-friendly", "Pet-friendly", "Vegan-friendly", "Vegetarian-friendly"],:as => :check_boxes %>
        </div>
        <div>
          <%= f.input :do_preference_list, collection: ["Coding", "Cultural", "Hiking", "Partying", "Swimming", "Yoga"], :as => :check_boxes%>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      </div>
    <% end %>
    <%= link_to "Back", new_trip_path %>
  </div>
  <div class="filler">
  </div>
</div>
