<div class="parent">
  <%= link_to icon('fa-solid', 'chevron-left'),  new_trip_path, class: 'btn' %>
  <%= link_to icon('fa-solid', 'plus'),  new_trip_path, class: 'btn' %>
  <br>
  <div class="page-header">
    <h1>Your Wishlist</h1>
    <p>Add previous recommendations to your trip!</p>
  </div>
  <div class="search-bar">
    <%= form_with url: favourites_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control search-bar",
    placeholder: "Search Favourites"
  %>
      <%= submit_tag "Search", class: "button" %>
    <% end %>
  </div>
  <div class="favourites">
    <% @favourites.each do |f| %>
      <div class="favourite-card">
        <div class="favourite-text">
          <h5><%= f.name %></h5>
          <h6><%= f.trip.trip_name %></h6>
        </div>
        <div class="add-button">
          <%= simple_form_for [f], url: add_activity_to_trip_path(f.trip, f), method: :post do |f| %>
            <%= f.submit '+', class: 'new-trip-btn' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
