<div class="activities-tabs" data-controller="activities-tabs">
  <button id="eat">Eat</button>
  <button id="do">Do</button>
  <button id="explore">Explore</button>
</div>
<div id="eat-rec" class="tab-content">
  <% @eat.each do |eat| %>
    <div class="recommendation-card">
      <%= eat.name %>
      <%= eat.description %>
    </div>
  <% end %>
</div>
<div id="do-rec" class="tab-content hide">
  <% @do.each do |d| %>
    <div class="recommendation-card">
      <%= d.name %>
      <%= d.description %>
    </div>
  <% end %>
</div>
<div id="explore-rec" class="tab-content hide">
    <% @explore.each do |explore| %>
      <div class="recommendation-card">
        <%= explore.name %>
        <%= explore.description %>
      </div>
    <% end %>
  </div>
