<h1>this is the activities index page</h1>
<div class="activities-tabs" data-controller="activities-tabs">
  <button id="eat">Eat</button>
  <button id="do">Do</button>
  <button id="explore">Explore</button>
</div>
<div id="eat-rec" class="tab-content">
  <% @eat.each do |eat| %>
    <div class="recommendation-card">
      <%= eat.name %>
      <%= eat.description %>
     <%= simple_form_for eat do |f|  %>
        <%= f.input :status, default: 2 %>
        <%= f.submit "Add to Trip" %>
      <% end %>
    </div>
  <% end %>
</div>
<div id="do-rec" class="tab-content hide">
  <% @do.each do |d| %>
    <div class="recommendation-card">
      <%= d.name %>
      <%= d.description %>
    </div>
  <% end %>
</div>
<div id="explore-rec" class="tab-content hide">
  <% @explore.each do |explore| %>
    <div class="recommendation-card">
      <%= explore.name %>
      <%= explore.description %>
    </div>
  <% end %>
</div>
<div class="trip-basket">
  <h2>Trip Itinerary:</h2>
   <% @selected_activities.each do |eat| %>
    <div class="recommendation-card">
      <%= eat.name %>
      <%= eat.description %>
     <%= simple_form_for eat do |f|  %>
        <%= f.input :status, default: 0 %>
        <%= f.submit "Add to Trip" %>
      <% end %>
    </div>
  <% end %>
  <%= @selected_activities.count %>
</div>
<%= link_to "Go Back", user_path(current_user) %>
