<br>
<%= link_to "Go Back", user_path(current_user), class: 'button' %>
<div class="parent">
  <div class="recommendations">
    <h2>Your recommendations: </h2>
    <div class="activities-tabs" data-controller="activities-tabs">
      <button id="eat" class="recommendation-button">Eat</button>
      <button id="do" class="recommendation-button">Do</button>
      <button id="explore" class="recommendation-button">Explore</button>
    </div>
    <div id="eat-rec" class="tab-content">
      <% @eat.each do |eat| %>
        <div class="recommendation-card" data-controller="activity-dropdown">
          <div class="recommendation-card-info">
            <h4><%= eat.name %> <i class="fa-solid fa-utensils"></i></h4>
            <h6 data-activity-dropdown-target="description" class="activity-description"><%= eat.description %></h6>
          </div>
          <div class="recommendation-card-buttons">
            <%= simple_form_for [@trip, eat], url: add_activity_to_trip_path(@trip, eat), method: :post do |f| %>
              <%= f.submit 'Add to Trip' %>
            <% end %>
            <%= simple_form_for [@trip, eat], url: add_activity_to_favourites_path(@trip, eat), method: :post do |f| %>
              <%= f.submit 'Add to Favs'%>
            <% end %>
            <div class="dropdown">
              <h2><i class="fa-solid fa-caret-down drop" data-action="click->activity-dropdown#toggle"></i></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="do-rec" class="tab-content hide">
      <% @do.each do |d| %>
        <div class="recommendation-card" data-controller="activity-dropdown">
          <div class="recommendation-card-info">
            <h4><%= d.name %> <i class="fa-duotone fa-person-hiking"></i></h4>
            <h6 data-activity-dropdown-target="description" class="activity-description"><%= d.description %></h6>
          </div>
          <div class="recommendation-card-buttons">
            <%= simple_form_for [@trip, d], url: add_activity_to_trip_path(@trip, d), method: :post do |f| %>
              <%= f.submit 'Add to Trip' %>
            <% end %>
            <%= simple_form_for [@trip, d], url: add_activity_to_favourites_path(@trip, d), method: :post do |f| %>
              <%= f.submit 'Add to Favs'%>
            <% end %>
            <div class="dropdown">
              <h2><i class="fa-solid fa-caret-down drop" data-action="click->activity-dropdown#toggle"></i></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="explore-rec" class="tab-content hide">
      <% @explore.each do |explore| %>
        <div class="recommendation-card" data-controller="activity-dropdown">
          <div class="recommendation-card-info">
            <h4><%= explore.name %> <i class="fa-solid fa-compass"></i></h4>
            <h6 data-activity-dropdown-target="description" class="activity-description"><%= explore.description %></h6>
          </div>
          <div class="recommendation-card-buttons">
            <%= simple_form_for [@trip, explore], url: add_activity_to_trip_path(@trip, explore), method: :post do |f| %>
              <%= f.submit 'Add to Trip' %>
            <% end %>
            <%= simple_form_for [@trip, explore], url: add_activity_to_favourites_path(@trip, explore), method: :post do |f| %>
              <%= f.submit 'Add to Favs'%>
            <% end %>
            <div class="dropdown">
              <h2><i class="fa-solid fa-caret-down drop" data-action="click->activity-dropdown#toggle"></i></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="trip-basket">
    <h1>Your Trip:</h1>
    <% @selected_activities.reverse.each do |activity| %>
      <div class="recommendation-card">
        <h5><%= activity.name %> <%= activity.category %></h5>
      </div>
    <% end %>
    <%= link_to "View your Trip", trip_path(@trip), class: 'button' %>
  </div>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
